.movie-image {
  padding: 5px;
  margin: 30px;
  margin-bottom: 70px;
  width: 250px;
  height: 325px;
  Img{
  height: 325px;
  }
}

.movie-image:hover {
transition: 0.9s;
filter: brightness(10%) blur(2px);

}
